@page
@model CicekSepetiCloneDotNet.Pages.SellerPage.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h1>Seller Page</h1>
<br />
<h3>Buradan ürünlerinizin ve kategorilerinizin yönetimini yapabilirsiniz</h3>
<br />
<br />

