@page
@model CicekSepetiCloneDotNet.Pages.Users.LoginIndexModel
@{
    Layout = "~/Pages/Shared/LoginLayout.cshtml";
}
<form method="Post">
<p>
    <label>E-mail Adresi<span>*</span></label>
    <input type="email" required name="mail" value="@Model.userInfo.user_mail">
</p>
    <p>
        <label>Şifre<span>*</span></label>
        <input type="password" required name="password" value="@Model.userInfo.user_pass">
    </p>
<p>
    <label>
        <a asp-page="/Users/PasswordReset">Şifremi Unuttum</a>
        <a asp-page="/Users/Registration">Hesap oluştur</a>
    </label>
    <input type="submit" value="Giriş yap" />
</p>
</form>
