@page
@model CicekSepetiCloneDotNet.Pages.Users.PasswordResetModel
@{
    Layout = "~/Pages/Shared/LoginLayout.cshtml";
}
<p>
    <label>E-mail Adresi<span>*</span></label>
    <input type="email" required>
</p>
<p>
    <label>
        <a asp-page="/Users/LoginIndex">Şifremi Sıfırladım</a>
    </label>
    <input type="submit" value="Sıfırla" />
<p/>
