@page
@model CicekSepetiCloneDotNet.Pages.AdminPage.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h1>Admin Page</h1>
<br />
<h3>Buradan site yönetimini yapabilirsiniz</h3>
<br />
<br />

<a class="btn btn-primary btn-sm" href="/Pages/AdminPage/Products"> Ürünler </a>
<a class="btn btn-danger btn-sm" href="/Pages/AdminPage/Categories"> Kategoriler </a>
<a class="btn btn-secondary btn-sm" href="/Pages/AdminPage/Users"> Kullanıcılar </a>