@page
@model IndexModel
@{
    ViewData["Title"] = "Çiçeksepeti";
}

<main class="products-section">
        <h2>Öne Çıkan Ürünler</h2>
        <div class="product-list">
            @foreach(var item in Model.listProduct)
            {
                <div class="product-card">
                <img src="~/assets/products/@item.product_image" alt="@item.product_name">
                <h3>@item.product_name</h3>
                    <p>₺@item.product_price</p>
                    <button class="btn btn-primary">Sepete Ekle</button>
                </div>
            }
        </div>
    </main>


