<!DOCTYPE html>

<html>
<head>
    <title>Giriş</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/loginStyle.css" />
</head>
    

<body>
<div class="container clearfix">
    <div class="form login">
        
            <p>
                <a class="logo" asp-page="/Index">çiçeksepeti</a>
            </p>
            @RenderBody()
        
    </div>
</div>
</body>

</html>
