@page
@model CicekSepetiCloneDotNet.Pages.SearchModel
@{
    ViewData["Title"] = "Arama Sonuçları";
}




<main class="products-section">
    @if (Model.SearchResults.Count == 0)
    {
        <h2>Sonuç bulunamadı.</h2>
    }
    else
    {
        <h2>Arama Sonuçları</h2>
        <div class="product-list">


            @foreach (var item in Model.SearchResults)
            {
                <div class="product-card">
                    <a href="/Products/Preview?id=@item.product_id&user_id=@Model.user_id" class="product-link">
                        <img src="~/assets/products/@item.product_image" alt="@item.product_name">
                        <h3>@item.product_name</h3>
                        <p>₺@item.product_price</p>
                    </a>
                </div>
            }
        </div>
    }

</main>

